.btn-twitter
{
	background: #00acee;
	border-radius: 0;
	color: #fff
}
.btn-twitter:link, .btn-twitter:visited
{
	color: #fff
}
.btn-twitter:active, .btn-twitter:hover
{
	background: #0087bd;
	color: #fff
}
.btn-facebook
{
	background: #3b5998;
	border-radius: 0;
	color: #fff
}
.btn-facebook:link, .btn-facebook:visited
{
	color: #fff
}
.btn-facebook:active, .btn-facebook:hover
{
	background: #30477a;
	color: #fff
}
.btn-stumbleupon
{
	background: #f74425;
	border-radius: 0;
	color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited
{
	color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover
{
	background: #c7371e;
	color: #fff
}
.btn-linkedin
{
	background: #0e76a8;
	border-radius: 0;
	color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited
{
	color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover
{
	background: #0b6087;
	color: #fff
}
.btn-pinterest
{
	background: #c8232c;
	border-radius: 0;
	color: #fff
}
.btn-pinterest:link, .btn-pinterest:visited
{
	color: #fff
}
.btn-pinterest:active, .btn-pinterest:hover
{
	background: #961a21;
	color: #fff
}
